<ng-container [ngSwitch]="isShow | async">
  <ng-container *ngSwitchCase="true">
     <div class="container" style="padding: 20px;">
      <dynamic-form [model]="person"
      (formSubmit)="setFormInput($event)"></dynamic-form>
     </div>
  </ng-container>

  <ng-container *ngSwitchCase="false">
    <div style="position: relative; top: 50%;">
      <div class="jumbotron">
        <h1 class="display-4">Oops, your screen size is too small!</h1>
        <p class="lead">
          Please resize your screen.
        </p>
      </div>
    </div>
  </ng-container>

</ng-container>
