<form novalidate [formGroup]="form">
    <div *ngFor="let prop of formModel">
        <div [ngSwitch]="prop.type">

          <div class="form-group row">
              <label *ngSwitchCase="'text'" [attr.for]="prop" class="col-sm-2 form-check-label">
                {{prop.label}}
              </label>


              <div class="col-sm-10">
                <input *ngSwitchCase="'text'"
                  [formControlName]="prop.key"
                  [id]="prop.key"
                  [type]="prop.type"
                  class="form-control" />
              </div>
          </div>

              <select *ngSwitchCase="'select'"
                [formControlName]="prop.key">
                <option *ngFor="let option of prop.options"
                  [value]="option.value">
                  {{option.label}}
                </option>
              </select>

              <span *ngSwitchCase="'radio'">
                <fieldset class="form-group">
                  <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">{{prop.label}}</legend>
                    <div class="col-sm-10">
                        <div class="form-check" >
                          <div *ngFor="let option of prop.options; let i = index">
                            <input type="radio"
                              [name]="prop.key"
                              [attr.id]="i"
                              [value]="option.value"
                              [formControlName]="prop.key" />
                            <label class="form-check-label" [for]="i">
                            {{option.label}}
                            </label>
                          </div>
                        </div>
                    </div>
                  </div>
                </fieldset>
              </span>

        </div>
    </div>
</form>
